@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './component/btn.css';
@import './component/textInput.css';
@import './component/dialog.css';
@import './component/loading.css';
@import './component/learnedBtn.css';
@import './component/expansion.css';
@import './component/logoutBtn.css';
@import './page/sideBar.css';
@import './page/daily.css';
@layer base {
  body {
    background-color: #f1f5f9;
    font-family: 'Noto Sans', sans-serif;
    @apply text-slate-900 w-full h-full;
  }
}
@layer components {
  .main_container {
    @apply max-w-4xl w-full mx-auto;
  }
}
@utility flex-center {
  @apply flex items-center justify-center;
}
@theme {
  --breakpoint-xs: 30rem;
  --animate-spin: spin 0.5s linear infinite;
}
